<p>
  <%= "<b>#{comment.user.name}</b> : #{comment.comment_message}".html_safe %>
</p>
<% if comment.user == current_user %>
  <p>
    <%= link_to "Edit", edit_post_comment_path(comment.post, comment) %> |
    <%= link_to 'Delete', [comment.post, comment],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
  </p>
<% end  %>
