<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
  <h2>Add a comment:</h2>
    <p>
      <%= form.text_area :comment_message %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>
